@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:  url('/assets/fonts/robotoregular.ttf') format('ttf');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src:  url('/assets/fonts/avenirregular.ttf') format('ttf');
}

@font-face {
  font-family: 'PF Centro Sans';
  font-style: normal;
  font-weight: 500;
  src:  url('/assets/fonts/pfcentromedium.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:  url('/assets/fonts/robotomedium.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src:  url('/assets/fonts/robotobold.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src:  url('/assets/fonts/robotolight.ttf') format('ttf');
}