// Media
$m-xxs: "min-width: 375px";
$m-xxm: "min-width: 411px";
$m-xs: "min-width: 568px";
$m-s: "min-width: 768px";
$m-m: "min-width: 992px";
$m-ml: "min-width: 1200px";
$m-l: "min-width: 1280px";
$m-xl: "min-width: 1440px";
$m-xxl: "min-width: 1600px";
$m-xxxl: "min-width: 1920px";

$ma-xxs: "max-width: 374px";
$ma-xs: "max-width: 567px";
$ma-s: "max-width: 767px";
$ma-m: "max-width: 991px";
$ma-ml: "max-width: 1199px";
$ma-l: "max-width: 1279px";
$ma-xl: "max-width: 1439px";
$ma-xxl: "max-width: 1599px";

// Colors
$c-bgColor: #F9FCFF;
$c-topBarColor: #F6F8FB;

$c-text: #484E55;
$c-white: #FFFFFF;
$c-black: #000000;
$c-blue_0: #f5f8ff;
$c-blue_1: #93AAFF;
$c-blue_1_2: #DEE6FF;
$c-blue_2: #6886F0; 
$c-blue_3: #4C6AD6;
$c-blue_4: #4556CF;
$c-blue_5: #3043CA;
$c-blue_6: #8AA3FC;
$c-red_7: #6B0600;
$c-red_8: #FFE3E2;
$c-red_6: #BB0A00;
$c-red_5: #C6342C;
$c-red_4: #F21509;
$c-red_3: #F45249;
$c-red_2: #FFA29D;
$c-red_1: #FDCBCB;

$c-grey: #C9C9C9;
$c-grey_2: #86929F;
$c-grey_3: #C3CEDA;
$c-grey_4: #6C6C6C;
$c-greyLight: #E2E2E2;
$c-middleGray: #A5A5A5;
$c-blue: #266EC2;
$c-darkBlue: #284E7B;
$c-middleBlue: #B6D3F3;
$c-green: #7FC28D;

//box-shadows
$shadow: -8px 8px 16px rgba(187, 10, 0, 0.3);

// Fonts
$roboto: 'Roboto', Arial, sans-serif;
$avenir: 'Avenir', Arial, sans-serif;
$centro: 'PF Centro Sans', Arial, sans-serif;