.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  font-size: 18px;
  border-radius: 5px;
  transition: .25 ease-in-out;
  cursor: pointer;

  &:hover {
    color: $c-text;
    opacity: .85;
  }

  &--gray {
    color: $c-grey_2;
    background-color: $c-topBarColor;
  }
}