.investments {
  padding: 0 4px;

  @media ($m-m) {
    padding: 0;
  }
}

.investments__title {
  font-size: 24px;
  line-height: 28px;
  color: #484E55;
  margin-bottom: 24px;

  @media ($m-m) {
    margin-bottom: 40px;
  }
}

.investments__sort {
  display: flex;
  flex-wrap: wrap;
  
  @media ($m-m) {
    flex-wrap: nowrap;
  }
}

.investments__sort-label {
  font-size: 16px;
  line-height: 21px;
  color: #C3CEDA;
  margin-right: 16px;
    
  @media ($m-m) {
    font-size: 18px;
    margin-right: 40px;
  }
}

.investments__sort-value {
  font-size: 16px;
  line-height: 21px;
  color: #86929F;

  &:not(:last-child) {
    margin-right: 16px;
  }
  
  @media ($m-m) {
    font-size: 18px;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
 
}

.investments__list {
  // margin: 32px 0 0 0;
}

.investments__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 36px 0px 36px 0;

  @media ($m-s) {
    padding: 36px 32px 36px 0;
  }

  @media ($m-m) {
    flex-wrap: nowrap;
    padding: 36px 64px 36px 0;
  }

  @media ($m-l) {
    padding: 36px 124px 36px 0;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $c-greyLight;
  }
}

.investments__item-user-info {
  display: flex;
  align-items: center;
  height: 40px;
}

.investments__item-user-avatar {
  width: 40px;
  height: 40px;
  margin-right: 16px;

  & > img {
    width: 100%;
  }
}

.investments__item-user-title {
  font-size: 18px;
  line-height: 21px;
  color: #284E7B;
}

.investments__item-text {
  margin-top: 16px;
  font-size: 18px;
  line-height: 21px;
  color: #484E55;
}

.investments__item-price {
  font-size: 18px;
  line-height: 21px;
  color: #484E55;
}

.investments__item-price-label {
  font-size: 14px;
  line-height: 16px;
  color: #C3CEDA;
  padding: 16px 0 8px 0;
}