.widget-quote__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #484E55;
}
 
.widget-quote__author {
  margin-top: 16px;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #86929F;
  
}