h1{color:blue;font-size:28px;text-align:center;}
.mydiv{display:block;margin:40px auto;padding:0;position:relative;width:200px;}
.form-signin{border:1px solid #ccc;border-radius:6px;margin:0;padding:10px 20px;position:relative;}
.zag{background-color:#666;color:#fff;font-size:18px;font-weight:bold;margin:0 0 10px;padding:1px 2px 3px;text-align:center;}
.form-signin input{display:inline-block;margin:0 0 8px;padding:4px 6px;width:144px;}
.form-signin input.button{cursor:pointer;margin:0 auto;width:158px;}
.testex{color:#666;font-size:14px;}
.reg{margin:4px 4px 0 0;padding:0;text-align:right;}
.feet{margin:40px 0 0;text-align:center;color:#900000;font-weight:bold;}
.reg > a,.mod a{text-decoration:none;}
.omus{display:block;margin:0;max-width:200px;padding:0;}
.privet{margin:10px 0;padding:0;}
.privet span{font-style:italic;color:#900000;}
.omus .form-signin{border:medium none;border-radius:0;margin:0;padding:0;}
.form-signin input.vyxod{background-color:transparent;border:medium none;color:blue;cursor:pointer;display:block;font-size:14px;margin:0;padding:0;width:auto;}
.mod{margin:0 0 6px;padding:0;text-align:left;}
.dannye{border:1px solid #ccc;border-radius:4px;box-shadow:0 0 6px #ccc;margin:0 0 6px;padding:0 14px 10px;}
.bolden{text-align:center;text-decoration:underline;}
.sbk{color:#444;line-height:18px;margin:8px 0 0;padding:0;}
.sbk span{font-style:italic;color:#900000;}














